@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background: #f7f8fb;
  color: #0b1221;
  min-height: 100vh;
  font-feature-settings: "ss01" on, "liga" on;
}

a {
  color: inherit;
  text-decoration: none;
}
